.greenBg {
  background: var(--colorbg);
}
.dflex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}
.flex-ac {
  align-items: center;
}
.flex-jc-center {
  justify-content: center;
}

.flex-jc-sa {
  justify-content: space-around;
}
.flex-jc-sb {
  justify-content: space-between;
}
.cursor-p {
  cursor: pointer;
}
